/* apply a natural box layout model to all elements, but allowing components to change */
html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/New40kStratagemsCommanders.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
}
main {
    height: 100%;
}
.banner-wrap {
    height: 100%;
    width: 600px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.banner-wrap h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #700206;
}
.banner-wrap img {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.q-row {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), black;
    opacity: .8;
    border: 2px solid white;
}
.q-img {
    width: 100%;
}
.q-insert {
}

.btn-quiz {
    margin: 50px 0 0 0;
    padding: 10px;
    font-size: 22px;
    border: 2px solid #700206;
    background-color: black;
    color: white;
}
.btn-quiz:hover {
    cursor: pointer;
    color: #700206;
}

.a-row {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), black;
    border: 2px solid white;
    opacity: .8;
}
.prog-row {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), black;
    border: 2px solid white;
    opacity: .8;
}
.prog-row .col-4 p {
    margin: 10px 0;
    line-height: 40px;
}
.btn-wrap {
    margin: 10px 0;
    height: 40px;
}
.btn-submit {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #700206;
    font-size: 22px;
    z-index: 1000;
    opacity: 1;
    color: white;
}
.answer-label {
    font-size: 20px;
    display: inline-block;
}
.radio-img-holder{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.radio-img-holder img {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 2px;
    left: 2px;
    border:2px solid black;
    filter: invert(100%);
    background-color: white;
    z-index: 1000;
}
.radio-img-holder > input{ /* HIDE RADIO */
    width: 50px;
    height: 50px;
/*    opacity: 0;*/
}
.radio-img-holder > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    
}
.radio-img-holder > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    filter: invert(0%);
    border:2px solid white;
    background-color: #700206;
}

/*Pop Up if answer was correct or wrong*/
.cover-screen {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
}
.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -500px;
    background-color: #700206;
    z-index: 1000;
}
.popup-img-insert img {
    width: 100%
}

.popup-a-insert .btn-quiz {
    position: absolute;
    bottom: 15px;
    border: 2px solid white;
}

@media only screen and (max-width: 640px) {
    .pop-up {
        position: absolute;
        width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;
        background-color: #700206;
        margin: 0;
    }
    .popup-img-insert img {
        width: 30%
    }
}